# SAM
.aws-sam/
samconfig.toml

# Python
__pycache__/
*.py[cod]
*.egg-info/
.eggs/
venv/
.venv/

# Lambda invoke output
out.json

# Local env (optional; remove if you want to commit .env)
# .env

# Terraform
terraform/.terraform/
terraform/*.tfstate
terraform/*.tfstate.*
terraform/.terraform.lock.hcl
terraform/lambda.zip
